.app-footer-landing {
  background: $footer-gradient;
  padding-bottom: 40px;
  color: $clr4;
  margin-top: auto;
  .social-links {
    justify-content: flex-end;
    gap: rem(34px);
    .social-link {
      @include nav-link;
    }
  }
}
